* {
    background-color: beige;
    color: burlywood;
    border-color: burlywood;
    margin-left: 10px;
}

#input-field {
    color: burlywood;
    overflow: auto;
    resize: none;
    margin-left: 0;
}

#previous-text {
    color: lightgrey;
    white-space: pre-wrap;
}

#current-text {
    color: burlywood;
    white-space: pre-wrap;
}

#all-text {
    height: 300px;
    border: solid;
    overflow: scroll;
}

#clearButton {
    margin-bottom: 10px;
    margin-top: 0;
}

#title {
    margin-top: 50px;
}